body { background: #8f57bf; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 38px; display: flex; }
.block-helper-0 { color: #cb8ca1; font-size: 14px; margin-bottom: 5px; }
.block-auth-1 { color: #a58821; font-size: 12px; margin-bottom: 5px; }
.block-helper-2 { color: #223ca0; font-size: 18px; margin-bottom: 5px; }
.block-uploader-3 { color: #83bbef; font-size: 18px; margin-bottom: 5px; }
.block-token-4 { color: #f46c3b; font-size: 13px; margin-bottom: 5px; }
.block-token-5 { color: #57139d; font-size: 20px; margin-bottom: 5px; }
.block-helper-6 { color: #e37e1a; font-size: 14px; margin-bottom: 5px; }
.block-metrics-7 { color: #e9665f; font-size: 12px; margin-bottom: 5px; }
.block-email-8 { color: #e5953f; font-size: 13px; margin-bottom: 5px; }
.block-token-9 { color: #fe3766; font-size: 13px; margin-bottom: 5px; }
.block-config-10 { color: #5d0339; font-size: 18px; margin-bottom: 5px; }